@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --main-color: #DB4444;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Center dots below slider */
.slick-dots {
  bottom: -50px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #999;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: var(--main-color);
}
