@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --main-color: #DB4444;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.product-slider.slider-container .slick-dots {
  position: relative !important;
  bottom: 0px !important;
}

.product-slider.slider-container .slick-dots li {
  width: auto !important;
  height: auto !important;
  margin: 0 30px 5px 0px !important;
}

.slick-slider.slick-initialized {
  display: flex !important;
  flex-direction: row-reverse !important;
}

.product-slider.slider-container {
  min-width: 940px !important;
}

.product-slider.slider-container .slick-list {
  background: #f5f5f5 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

img:focus,
img:focus-visible {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}